
#main {
    padding: 10px;
    border: 2px solid green;
    width: 500px;
}

h4 {
    color:  green;
    margin-bottom: 30px;
}

button {
    margin: 10px;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 20px 80px;
}

.row {
    margin: 20px 70px;
}
