<div id="main">
    <h4>More Information</h4>
    <table class="table">
        <tbody>
          <tr>
            <td>Reported By:</td>
            <td>{{moreInfoReport.personName}}</td>
          </tr>
          <tr>
            <td>Number:</td>
            <td>{{moreInfoReport.personNumber}}</td>
          </tr>
          <tr>
            <td>Breed:</td>
            <td>{{moreInfoReport.breed}}</td>
          </tr>
          <tr>
            <td>Pid:</td>
            <td>{{moreInfoReport.pid}}</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>{{moreInfoReport.location}}</td>
          </tr>
          <tr>
            <td>Latitude:</td>
            <td>{{moreInfoReport.lat}}</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td>{{moreInfoReport.long}}</td>
          </tr>
          <tr>
            <td>Notes:</td>
            <td>{{moreInfoReport.notes}}</td>
          </tr>
          <tr>
            <td>Time:</td>
            <td>IMPLEMENT</td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{moreInfoReport.status}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary" (click)="removeInformation()">Okay</button>
</div>
