<div id="main">
    <h4>More Information</h4>
    <table class="table">
        <tbody>
          <tr>
            <td>Reported By:</td>
            <td>{{moreInfoReport.personName}}</td>
          </tr>
          <tr>
            <td>Number:</td>
            <td>{{moreInfoReport.personNumber}}</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>{{moreInfoReport.location}}</td>
          </tr>
          <tr>
            <td>Latitude:</td>
            <td>{{moreInfoReport.lat}}</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td>{{moreInfoReport.long}}</td>
          </tr>
          <tr>
            <td>Notes:</td>
            <td>{{moreInfoReport.notes}}</td>
          </tr>
          <tr>
            <td>Time Reported:</td>
            <td>{{ moreInfoReport.time | date:'yyyy-MM-dd (hh:mm a)' }}</td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{moreInfoReport.status}}</td>
          </tr>
        </tbody>
      </table>
      <div id="btn-div">
        <button type="button" class="btn btn-secondary" (click)="removeInformation()">Okay</button>
      </div>
</div>
