
#btn {
    background-color: rgb(51, 167, 78);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:hover {
    background-color: rgb(48, 144, 70);
}

#forms {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}