
div {
    background-color: rgb(51, 167, 78);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:hover {
    background-color: rgb(48, 144, 70);

}